Repository Texarkanine/a16n: changes, and which Codecov flags are due for each by the changed paths.
All: cli, engine, models, plugin-cursor, plugin-claude, glob-hook, docs

fix(docs): reorganize "Understanding Conversions" a bit better
  packages/docs/docs/understanding-conversions/index.md
Due: none

feat: support name field on GlobalPrompts
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/tasks.md
  packages/models/src/helpers.ts
  packages/models/src/index.ts
  packages/models/src/types.ts
  packages/models/test/helpers.test.ts
  packages/models/test/types.test.ts
  packages/plugin-a16n/src/emit.ts
  packages/plugin-a16n/src/parse.ts
  packages/plugin-a16n/test/emit.test.ts
  packages/plugin-a16n/test/parse.test.ts
  packages/plugin-claude/src/discover.ts
  packages/plugin-claude/src/emit.ts
  packages/plugin-claude/test/discover.test.ts
  packages/plugin-claude/test/emit.test.ts
  packages/plugin-cursor/src/discover.ts
  packages/plugin-cursor/src/emit.ts
  packages/plugin-cursor/test/discover.test.ts
  packages/plugin-cursor/test/emit.test.ts
Due: models, plugin-cursor, plugin-claude

chore: move reflection over
  memory-bank/reflection/reflection-naming-fix.md
Due: none

docs(models): simplify inferGlobalPromptName JSDoc — remove prescriptive MUST language
  packages/models/src/helpers.ts
Due: models

fix: address PR feedback — empty fallback, multi-part stem sanitization, type fixtures, test organization
  packages/models/src/helpers.ts
  packages/models/test/helpers.test.ts
  packages/models/test/types.test.ts
  packages/plugin-a16n/test/emit.test.ts
  packages/plugin-a16n/test/parse.test.ts
  packages/plugin-claude/src/emit.ts
  packages/plugin-claude/test/emit.test.ts
  packages/plugin-cursor/src/emit.ts
  packages/plugin-cursor/test/emit.test.ts
Due: models, plugin-cursor, plugin-claude

feat: support name field on GlobalPrompts (#68)
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/reflection/reflection-naming-fix.md
  memory-bank/tasks.md
  packages/models/src/helpers.ts
  packages/models/src/index.ts
  packages/models/src/types.ts
  packages/models/test/helpers.test.ts
  packages/models/test/types.test.ts
  packages/plugin-a16n/src/emit.ts
  packages/plugin-a16n/src/parse.ts
  packages/plugin-a16n/test/emit.test.ts
  packages/plugin-a16n/test/parse.test.ts
  packages/plugin-claude/src/discover.ts
  packages/plugin-claude/src/emit.ts
  packages/plugin-claude/test/discover.test.ts
  packages/plugin-claude/test/emit.test.ts
  packages/plugin-cursor/src/discover.ts
  packages/plugin-cursor/src/emit.ts
  packages/plugin-cursor/test/discover.test.ts
  packages/plugin-cursor/test/emit.test.ts
Due: models, plugin-cursor, plugin-claude

fix(docs): frontmatter in "understanding conversions" was incorrect.
  packages/docs/docs/understanding-conversions/index.md
Due: none

chore: archive naming-fix and plugin-discovery-wiring and clear memory bank
  memory-bank/activeContext.md
  memory-bank/archive/bug-fixes/20260217-plugin-discovery-wiring.md
  memory-bank/archive/enhancements/20260223-naming-fix.md
  memory-bank/progress.md
  memory-bank/projectbrief.md
  memory-bank/reflection/reflection-naming-fix.md
  memory-bank/reflection/reflection-plugin-discovery-wiring.md
  memory-bank/tasks.md
Due: none

chore: reinit & update memory-bank
  memory-bank/productContext.md
  memory-bank/systemPatterns.md
  memory-bank/techContext.md
  packages/plugin-claude/src/emit.ts
Due: plugin-claude

fix(plugin-claude): replace regex frontmatter parsing with gray-matter (closes #70)
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/projectbrief.md
  memory-bank/active/tasks.md
  packages/plugin-claude/package.json
  packages/plugin-claude/src/discover.ts
  packages/plugin-claude/test/discover.test.ts
  packages/plugin-claude/test/fixtures/claude-yaml-edge-cases/from-claude/.claude/rules/with-yaml-edge.md
  packages/plugin-claude/test/fixtures/claude-yaml-edge-cases/from-claude/.claude/skills/multiline-desc/SKILL.md
  pnpm-lock.yaml
Due: plugin-claude

fix: pr feedback
  packages/plugin-claude/src/discover.ts
Due: plugin-claude

fix: more pr feedback
  packages/plugin-claude/src/discover.ts
Due: plugin-claude

fix: Opussified
  packages/plugin-claude/src/discover.ts
Due: plugin-claude

chore: completed issue-70
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
Due: none

fix: done with task
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/projectbrief.md
  memory-bank/active/tasks.md
Due: none

fix(plugin-claude): replace regex frontmatter parsing with gray-matter (closes #70) (#72)
  packages/plugin-claude/package.json
  packages/plugin-claude/src/discover.ts
  packages/plugin-claude/test/discover.test.ts
  packages/plugin-claude/test/fixtures/claude-yaml-edge-cases/from-claude/.claude/rules/with-yaml-edge.md
  packages/plugin-claude/test/fixtures/claude-yaml-edge-cases/from-claude/.claude/skills/multiline-desc/SKILL.md
  pnpm-lock.yaml
Due: plugin-claude

chore: saving work before build phase
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/projectbrief.md
  memory-bank/active/tasks.md
Due: none

fix: emit ManualPrompts to .cursor/commands/ instead of skills with unsupported disable-model-invocation flag
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
  packages/plugin-cursor/src/emit.ts
  packages/plugin-cursor/test/emit.test.ts
Due: plugin-cursor

chore: completed issue-71
  memory-bank/active/.qa-validation-status
  memory-bank/active/progress.md
Due: none

fix: normalize relativeDir in collision keys to prevent silent overwrites
  packages/plugin-cursor/src/emit.ts
  packages/plugin-cursor/test/emit.test.ts
Due: plugin-cursor

fix: archived
  memory-bank/active/.qa-validation-status
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/projectbrief.md
  memory-bank/active/tasks.md
Due: none

fix(plugin-cursor): emit ManualPrompts to Commands, not Skills (#75)
  packages/plugin-cursor/src/emit.ts
  packages/plugin-cursor/test/emit.test.ts
Due: plugin-cursor

fix(plugin-claude): do not include From line in emitted rules
  packages/cli/test/integration/fixtures/cursor-command-to-claude/to-claude/CLAUDE.md
  packages/cli/test/integration/fixtures/cursor-ignore-to-claude/to-claude/CLAUDE.md
  packages/cli/test/integration/fixtures/cursor-to-claude-basic/to-claude/CLAUDE.md
  packages/cli/test/integration/fixtures/cursor-to-claude-multiple/to-claude/CLAUDE.md
  packages/plugin-claude/src/emit.ts
  packages/plugin-claude/test/emit.test.ts
Due: plugin-claude

fix(plugin-claude): do not include From line in emitted rules (#77)
  packages/cli/test/integration/fixtures/cursor-command-to-claude/to-claude/CLAUDE.md
  packages/cli/test/integration/fixtures/cursor-ignore-to-claude/to-claude/CLAUDE.md
  packages/cli/test/integration/fixtures/cursor-to-claude-basic/to-claude/CLAUDE.md
  packages/cli/test/integration/fixtures/cursor-to-claude-multiple/to-claude/CLAUDE.md
  packages/plugin-claude/src/emit.ts
  packages/plugin-claude/test/emit.test.ts
Due: plugin-claude

chore: should never have been committed
  ai-rizz.local.skbd.bak
Due: none

chore(dev): update Niko
  .cursor/rules/shared/niko/Level1/level1-workflow.mdc
  .cursor/rules/shared/niko/Level2/level2-plan.mdc
  .cursor/rules/shared/niko/Level3/level3-plan.mdc
  .cursor/rules/shared/niko/Level4/level4-plan.mdc
  .cursor/rules/shared/niko/memory-bank/active/milestones.mdc
  .cursor/skills/shared/niko-qa/SKILL.md
Due: none

chore: saving work before preflight phase
  memory-bank/active/activeContext.md
  memory-bank/active/creative/creative-launch-readiness.md
  memory-bank/active/progress.md
  memory-bank/active/projectbrief.md
  memory-bank/active/tasks.md
Due: none

chore: saving work before build phase
  memory-bank/active/.preflight-status
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
Due: none

chore: plan amendments from operator review
  memory-bank/active/tasks.md
Due: none

chore: plan amendments - engines >=22.0.0, named type alias
  memory-bank/active/projectbrief.md
  memory-bank/active/tasks.md
Due: none

chore: saving progress on launch-readiness (steps 1-2)
  packages/cli/src/commands/convert.ts
  packages/plugin-claude/src/emit.ts
  packages/plugin-claude/test/emit.test.ts
Due: cli, plugin-claude

chore: saving progress on launch-readiness (steps 3-4)
  packages/cli/src/commands/convert.ts
  packages/cli/src/commands/discover.ts
  packages/cli/src/index.ts
  packages/cli/test/cli.test.ts
  packages/cli/vitest.config.ts
Due: cli

chore: saving progress on launch-readiness (steps 5-8)
  .github/workflows/docs.yaml
  CONTRIBUTING.md
  README.md
  package.json
  packages/cli/package.json
  packages/cli/src/commands/convert.ts
  packages/cli/src/commands/discover.ts
  packages/docs/docs/intro.md
  packages/docs/docs/plugin-development/index.md
  packages/docs/package.json
  packages/engine/package.json
  packages/glob-hook/package.json
  packages/models/package.json
  packages/plugin-a16n/package.json
  packages/plugin-claude/package.json
  packages/plugin-cursor/package.json
Due: cli

chore: saving work before qa phase
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
Due: none

chore: saving work before reflect phase
  CONTRIBUTING.md
  memory-bank/active/.qa-validation-status
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
Due: none

chore: reflected on launch-readiness
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/reflection/reflection-launch-readiness.md
Due: none

fix: use <tool> instead of <agent>
  packages/cli/README.md
  packages/cli/src/index.ts
  packages/docs/scripts/generate-cli-docs.ts
Due: cli, docs

fix: set node 22 as the floor in .nvmrc
  .nvmrc
Due: none

Path conditions:
  cli: any of: packages/cli/src/
  engine: any of: packages/engine/src/
  models: any of: packages/models/src/
  plugin-cursor: any of: packages/plugin-cursor/src/
  plugin-claude: any of: packages/plugin-claude/src/
  glob-hook: any of: packages/glob-hook/src/
  docs: any of: packages/docs/scripts/
