Repository Texarkanine/a16n: changes, and which Codecov flags are due for each by the changed paths.
All: cli, engine, models, plugin-cursor, plugin-claude, glob-hook, docs

fix(plugin-claude): reject resource paths that resolve to skill dir itself
  packages/plugin-claude/src/emit.ts
  packages/plugin-claude/test/emit.test.ts
Due: plugin-claude

test(cli): rename Case 3 test to reflect what it actually verifies
  packages/cli/test/cli.test.ts
Due: none

fix: terminology mismatch
  packages/cli/src/commands/convert.ts
  packages/cli/src/commands/discover.ts
  packages/cli/test/cli.test.ts
Due: cli

fix(plugin-claude): use segment-equality for .. detection; harden tests
  packages/cli/test/cli.test.ts
  packages/plugin-claude/src/emit.ts
  packages/plugin-claude/test/emit.test.ts
Due: plugin-claude

fix(plugin-claude): prevent resource files from overwriting canonical SKILL.md
  packages/plugin-claude/src/emit.ts
  packages/plugin-claude/test/emit.test.ts
Due: plugin-claude

feat: various polish (#79)
  .cursor/rules/shared/niko/Level1/level1-workflow.mdc
  .cursor/rules/shared/niko/Level2/level2-plan.mdc
  .cursor/rules/shared/niko/Level3/level3-plan.mdc
  .cursor/rules/shared/niko/Level4/level4-plan.mdc
  .cursor/rules/shared/niko/memory-bank/active/milestones.mdc
  .cursor/skills/shared/niko-qa/SKILL.md
  .github/workflows/docs.yaml
  .nvmrc
  CONTRIBUTING.md
  README.md
  ai-rizz.local.skbd.bak
  memory-bank/active/.preflight-status
  memory-bank/active/.qa-validation-status
  memory-bank/active/activeContext.md
  memory-bank/active/creative/creative-launch-readiness.md
  memory-bank/active/progress.md
  memory-bank/active/projectbrief.md
  memory-bank/active/reflection/reflection-launch-readiness.md
  memory-bank/active/tasks.md
  package.json
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/commands/convert.ts
  packages/cli/src/commands/discover.ts
  packages/cli/src/index.ts
  packages/cli/test/cli.test.ts
  packages/cli/vitest.config.ts
  packages/docs/docs/intro.md
  packages/docs/docs/plugin-development/index.md
  packages/docs/package.json
  packages/docs/scripts/generate-cli-docs.ts
  packages/engine/package.json
  packages/glob-hook/package.json
  packages/models/package.json
  packages/plugin-a16n/package.json
  packages/plugin-claude/package.json
  packages/plugin-claude/src/emit.ts
  packages/plugin-claude/test/emit.test.ts
  packages/plugin-cursor/package.json
Due: cli, plugin-claude, docs

chore: update reflection with PR review insights
  memory-bank/active/reflection/reflection-launch-readiness.md
Due: none

chore: archive launch-readiness and clear memory bank
  memory-bank/active/.preflight-status
  memory-bank/active/.qa-validation-status
  memory-bank/active/activeContext.md
  memory-bank/active/creative/creative-launch-readiness.md
  memory-bank/active/progress.md
  memory-bank/active/projectbrief.md
  memory-bank/active/reflection/reflection-launch-readiness.md
  memory-bank/active/tasks.md
  memory-bank/archive/enhancements/20260305-launch-readiness.md
Due: none

chore: saving work before preflight phase
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/projectbrief.md
  memory-bank/active/tasks.md
Due: none

chore: saving work before build phase
  memory-bank/active/.preflight-status
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
Due: none

test: harden CLI coverage with behavioral unit tests
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
  packages/cli/test/cli.test.ts
  packages/cli/test/commands/convert.test.ts
  packages/cli/vitest.config.ts
Due: none

chore: reflected on cli-coverage-hardening
  memory-bank/active/.qa-validation-status
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/reflection/reflection-cli-coverage-hardening.md
  memory-bank/active/tasks.md
Due: none

chore: improve code coverage a bit (#81)
  memory-bank/active/.preflight-status
  memory-bank/active/.qa-validation-status
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/projectbrief.md
  memory-bank/active/reflection/reflection-cli-coverage-hardening.md
  memory-bank/active/tasks.md
  packages/cli/test/cli.test.ts
  packages/cli/test/commands/convert.test.ts
  packages/cli/vitest.config.ts
Due: none

chore: archive cli-coverage-hardening and clear memory bank
  memory-bank/active/.preflight-status
  memory-bank/active/.qa-validation-status
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/projectbrief.md
  memory-bank/active/reflection/reflection-cli-coverage-hardening.md
  memory-bank/active/tasks.md
  memory-bank/archive/enhancements/20260306-cli-coverage-hardening.md
Due: none

feat(docs): Why Not Hooks
  packages/docs/docs/understanding-conversions/hooks.md
  packages/docs/docs/understanding-conversions/index.md
  packages/docs/sidebars.js
Due: none

feat(docs): Why Not Hooks (#82)
  packages/docs/docs/understanding-conversions/hooks.md
  packages/docs/docs/understanding-conversions/index.md
  packages/docs/sidebars.js
Due: none

chore(dev): update Niko
  .cursor/rules/shared/niko-core.mdc
  .cursor/rules/shared/niko/Core/complexity-analysis.mdc
  .cursor/rules/shared/niko/Core/intent-clarification.mdc
  .cursor/rules/shared/niko/Core/memory-bank-paths.mdc
  .cursor/rules/shared/niko/Core/reconcile-persistent.mdc
  .cursor/rules/shared/niko/Level1/level1-build.mdc
  .cursor/rules/shared/niko/Level1/level1-workflow.mdc
  .cursor/rules/shared/niko/Level2/level2-plan.mdc
  .cursor/rules/shared/niko/Level2/level2-reflect.mdc
  .cursor/rules/shared/niko/Level3/level3-plan.mdc
  .cursor/rules/shared/niko/Level3/level3-reflect.mdc
  .cursor/rules/shared/niko/Level4/level4-workflow.mdc
  .cursor/rules/shared/niko/memory-bank/active/milestones.mdc
  .cursor/rules/shared/niko/memory-bank/active/progress.mdc
  .cursor/rules/shared/niko/memory-bank/archives.mdc
  .cursor/skills/shared/niko-archive/SKILL.md
  .cursor/skills/shared/niko-build/SKILL.md
  .cursor/skills/shared/niko-plan/SKILL.md
  .cursor/skills/shared/niko-preflight/SKILL.md
  .cursor/skills/shared/niko-reflect/SKILL.md
  .cursor/skills/shared/niko/SKILL.md
  .cursor/skills/shared/nk-refresh/SKILL.md
  .cursor/skills/shared/nk-save/SKILL.md
  planning/PHASE_1_SPEC.md
  planning/PHASE_3_SPEC.md
  planning/PHASE_5_SPEC.md
  planning/PHASE_6_SPEC.md
  planning/PHASE_7_SPEC.md
  planning/PHASE_8_SPEC.md
  planning/PHASE_9_SPEC.md
  planning/PRODUCT_BRIEF.md
  planning/ROADMAP.md
  planning/path-rewrite-issue.md
Due: none

chore: saving work before plan phase
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/projectbrief.md
  memory-bank/active/tasks.md
Due: none

chore: saving work before build phase
  memory-bank/active/.preflight-status
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
Due: none

docs(plan): add buildMapping collision lint + capture clean-break refactor
  memory-bank/active/.preflight-status
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
  planning/writtenfile-clean-break.md
Due: none

plan: expand --rewrite-path-refs scope to scripts/ + references/ ride-alongs
  memory-bank/active/.preflight-status
  memory-bank/active/progress.md
  memory-bank/active/projectbrief.md
  memory-bank/active/tasks.md
Due: none

feat(models): add WrittenFile.sourcePaths for path-rewriting precedence
  packages/models/src/plugin.ts
Due: models

feat(engine): buildMapping honors sourcePaths + collision detection; extend rewriteContent/detectOrphans to scripts/references ride-alongs
  packages/engine/src/path-rewriter.ts
  packages/engine/src/transformation.ts
  packages/engine/test/path-rewriter.test.ts
Due: engine

feat(plugin-cursor): populate sourcePaths on AgentSkillIO resource WrittenFiles
  packages/plugin-cursor/src/emit.ts
  packages/plugin-cursor/test/emit.test.ts
Due: plugin-cursor

feat(plugin-claude): populate sourcePaths on AgentSkillIO resource WrittenFiles
  packages/plugin-claude/src/emit.ts
  packages/plugin-claude/test/emit.test.ts
Due: plugin-claude

test(cli): add CI4 integration for AgentSkillIO --rewrite-path-refs coverage
  packages/cli/test/integration/integration.test.ts
Due: none

docs(plugins): correct skills classification for cursor + claude plugins
  packages/docs/docs/plugin-claude/index.md
  packages/docs/docs/plugin-cursor/index.md
Due: none

docs(cli,understanding-conversions): document --rewrite-path-refs scope for AgentSkillIO
  packages/docs/docs/cli/index.md
  packages/docs/docs/understanding-conversions/index.md
Due: none

chore(memory-bank): mark BUILD phase complete for docs+rewrite-resources task
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
Due: none

chore(memory-bank): correct validation status — tests green on Node 22
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
Due: none

fix(docs): clean up doc site README fix(docs): clean up docs presentation of Skill handling in Cursor and Claude
  .github/workflows/ci.yaml
  .github/workflows/docs.yaml
  memory-bank/active/tasks.md
  packages/docs/README.md
  packages/docs/docs/plugin-claude/index.md
  packages/docs/docs/plugin-cursor/index.md
  packages/docs/package.json
  packages/docs/scripts/stage-changelogs.sh
  planning/writtenfile-clean-break.md
Due: docs

chore: saving work before reflect phase
  memory-bank/active/.qa-validation-status
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
  packages/cli/src/index.ts
  packages/cli/test/integration/integration.test.ts
  planning/cli-entry-point-split.md
Due: cli

chore: reflected on 20260420-skills-docs-and-rewrite-resources
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/reflection/reflection-20260420-skills-docs-and-rewrite-resources.md
  memory-bank/active/tasks.md
  memory-bank/systemPatterns.md
Due: none

fix: tweak path ref rewrite doc a bit
  packages/docs/docs/cli/index.md
Due: none

chore: plan rework — preserve filename case in rule emit
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
Due: none

fix: preserve source filename case on rule emit (both plugins)
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
  packages/plugin-claude/src/emit.ts
  packages/plugin-claude/test/emit.test.ts
  packages/plugin-cursor/src/emit.ts
  packages/plugin-cursor/test/emit.test.ts
Due: plugin-cursor, plugin-claude

chore: reflected on 20260421-preserve-filename-case
  memory-bank/active/.qa-validation-status
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/reflection/reflection-20260421-preserve-filename-case.md
  memory-bank/active/tasks.md
Due: none

fix: address PR #84 review — harden path-rewriter + CI4 orphan-scope test
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/reflection/reflection-20260420-skills-docs-and-rewrite-resources.md
  packages/cli/test/integration/integration.test.ts
  packages/engine/src/path-rewriter.ts
  packages/engine/test/path-rewriter.test.ts
Due: engine

chore: archive 20260420-skills-docs-and-rewrite-resources, 20260421-preserve-filename-case and clear memory bank
  memory-bank/active/.preflight-status
  memory-bank/active/.qa-validation-status
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/projectbrief.md
  memory-bank/active/reflection/reflection-20260420-skills-docs-and-rewrite-resources.md
  memory-bank/active/reflection/reflection-20260421-preserve-filename-case.md
  memory-bank/active/tasks.md
  memory-bank/archive/bug-fixes/20260420-skills-docs-and-rewrite-resources.md
  memory-bank/archive/bug-fixes/20260421-preserve-filename-case.md
Due: none

Path conditions:
  cli: any of: packages/cli/src/
  engine: any of: packages/engine/src/
  models: any of: packages/models/src/
  plugin-cursor: any of: packages/plugin-cursor/src/
  plugin-claude: any of: packages/plugin-claude/src/
  glob-hook: any of: packages/glob-hook/src/
  docs: any of: packages/docs/scripts/
