Repository Texarkanine/a16n: changes, and which Codecov flags are due for each by the changed paths.
All: cli, engine, models, plugin-cursor, plugin-claude, glob-hook, docs

codecov.yml:

# Codecov configuration for a16n monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        # Disable project-wide coverage status checks
        # Each package has its own flag-based check
        enabled: false
    patch:
      default:
        enabled: false

# Flag definitions for per-package coverage
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  engine:
    paths:
      - packages/engine/src/
    carryforward: true
  models:
    paths:
      - packages/models/src/
    carryforward: true
  plugin-cursor:
    paths:
      - packages/plugin-cursor/src/
    carryforward: true
  plugin-claude:
    paths:
      - packages/plugin-claude/src/
    carryforward: true
  glob-hook:
    paths:
      - packages/glob-hook/src/
    carryforward: true
  docs:
    paths:
      - packages/docs/scripts/
    carryforward: true

# Comment configuration for PRs
comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true

chore: reflected
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/reflection/reflection-CODECOV-MONOREPO.md
  memory-bank/tasks.md
Due: none

feat: Add Codecov coverage tracking with per-package flags (#31)
  .github/workflows/ci.yaml
  codecov.yml
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/reflection/reflection-CODECOV-MONOREPO.md
  memory-bank/tasks.md
  package.json
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/vitest.config.ts
  packages/docs/README.md
  packages/docs/package.json
  packages/docs/vitest.config.ts
  packages/engine/README.md
  packages/engine/package.json
  packages/engine/vitest.config.ts
  packages/glob-hook/README.md
  packages/glob-hook/package.json
  packages/glob-hook/vitest.config.ts
  packages/models/README.md
  packages/models/package.json
  packages/models/vitest.config.ts
  packages/plugin-claude/README.md
  packages/plugin-claude/package.json
  packages/plugin-claude/vitest.config.ts
  packages/plugin-cursor/README.md
  packages/plugin-cursor/package.json
  packages/plugin-cursor/vitest.config.ts
  pnpm-lock.yaml
  turbo.json
Due: none

chore: archive CODECOV-MONOREPO and clear memory bank
  memory-bank/activeContext.md
  memory-bank/archive/enhancements/20260203-CODECOV-MONOREPO.md
  memory-bank/progress.md
  memory-bank/reflection/reflection-CODECOV-MONOREPO.md
  memory-bank/tasks.md
Due: none

feat: planned phase 9
  memory-bank/activeContext.md
  memory-bank/creative/creative-phase9-architecture.md
  memory-bank/progress.md
  memory-bank/projectbrief.md
  memory-bank/tasks.md
Due: none

feat: refined plan
  memory-bank/activeContext.md
  memory-bank/creative/creative-phase9-architecture.md
  memory-bank/progress.md
  memory-bank/tasks.md
Due: none

feat!: add IR versioning and AgentSkills.io utilities (M1)
  memory-bank/tasks.md
  packages/cli/src/index.ts
  packages/cli/src/output.ts
  packages/models/package.json
  packages/models/src/agentskills-io.ts
  packages/models/src/index.ts
  packages/models/src/types.ts
  packages/models/src/version.ts
  packages/models/src/warnings.ts
  packages/models/test/agentskills-io.test.ts
  packages/models/test/version.test.ts
  packages/plugin-claude/src/discover.ts
  packages/plugin-claude/src/emit.ts
  packages/plugin-cursor/src/discover.ts
  packages/plugin-cursor/src/emit.ts
  pnpm-lock.yaml
Due: cli, models, plugin-cursor, plugin-claude

docs: add M1 reflection and update memory bank status
  memory-bank/progress.md
  memory-bank/reflection/reflection-phase9-m1.md
  memory-bank/tasks.md
Due: none

fix: address CodeRabbit feedback for PR #32
  memory-bank/coderabbit-tasks.md
  packages/cli/src/index.ts
  packages/models/src/agentskills-io.ts
  packages/models/test/agentskills-io.test.ts
Due: cli, models

feat!: Phase 9 Milestone 1 - IR Versioning & AgentSkills.io Utilities (#32)
  memory-bank/activeContext.md
  memory-bank/coderabbit-tasks.md
  memory-bank/creative/creative-phase9-architecture.md
  memory-bank/progress.md
  memory-bank/projectbrief.md
  memory-bank/reflection/reflection-phase9-m1.md
  memory-bank/tasks.md
  packages/cli/src/index.ts
  packages/cli/src/output.ts
  packages/models/package.json
  packages/models/src/agentskills-io.ts
  packages/models/src/index.ts
  packages/models/src/types.ts
  packages/models/src/version.ts
  packages/models/src/warnings.ts
  packages/models/test/agentskills-io.test.ts
  packages/models/test/version.test.ts
  packages/plugin-claude/src/discover.ts
  packages/plugin-claude/src/emit.ts
  packages/plugin-cursor/src/discover.ts
  packages/plugin-cursor/src/emit.ts
  pnpm-lock.yaml
Due: cli, models, plugin-cursor, plugin-claude

feat: create plugin-a16n package structure (M2)
  memory-bank/progress.md
  memory-bank/tasks.md
  packages/plugin-a16n/README.md
  packages/plugin-a16n/package.json
  packages/plugin-a16n/src/index.ts
  packages/plugin-a16n/tsconfig.json
  packages/plugin-a16n/vitest.config.ts
  pnpm-lock.yaml
Due: none

docs: add M2 reflection
  memory-bank/reflection/reflection-phase9-m2.md
  memory-bank/tasks.md
Due: none

docs: update active context with M1/M2 completion status
  memory-bank/activeContext.md
Due: none

fix: add explicit types to emit method parameters
  packages/plugin-a16n/src/index.ts
Due: none

chore: add plugin-a16n to release-please configuration
  .release-please-manifest.json
  release-please-config.json
Due: none

docs: update M2 tasks with release config addition
  memory-bank/tasks.md
Due: none

feat: Phase 9 Milestone 2 - Plugin Package Setup (@a16njs/plugin-a16n) (#35)
  .release-please-manifest.json
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/reflection/reflection-phase9-m2.md
  memory-bank/tasks.md
  packages/plugin-a16n/README.md
  packages/plugin-a16n/package.json
  packages/plugin-a16n/src/index.ts
  packages/plugin-a16n/tsconfig.json
  packages/plugin-a16n/vitest.config.ts
  pnpm-lock.yaml
  release-please-config.json
Due: none

feat: Phase 9 Milestone 3 - Frontmatter Parsing & Formatting
  packages/plugin-a16n/package.json
  packages/plugin-a16n/src/format.ts
  packages/plugin-a16n/src/index.ts
  packages/plugin-a16n/src/parse.ts
  packages/plugin-a16n/src/utils.ts
  packages/plugin-a16n/test/fixtures/parse-agentIgnore/patterns.md
  packages/plugin-a16n/test/fixtures/parse-errors/invalid-type.md
  packages/plugin-a16n/test/fixtures/parse-errors/missing-type.md
  packages/plugin-a16n/test/fixtures/parse-errors/missing-version.md
  packages/plugin-a16n/test/fixtures/parse-errors/no-frontmatter.md
  packages/plugin-a16n/test/fixtures/parse-fileRule/typescript.md
  packages/plugin-a16n/test/fixtures/parse-globalPrompt/basic.md
  packages/plugin-a16n/test/fixtures/parse-globalPrompt/with-relativedir.md
  packages/plugin-a16n/test/fixtures/parse-manualPrompt/basic.md
  packages/plugin-a16n/test/fixtures/parse-manualPrompt/with-relativedir.md
  packages/plugin-a16n/test/fixtures/parse-simpleAgentSkill/database.md
  packages/plugin-a16n/test/format.test.ts
  packages/plugin-a16n/test/parse.test.ts
  packages/plugin-claude/src/index.ts
  packages/plugin-cursor/src/index.ts
  pnpm-lock.yaml
Due: plugin-cursor, plugin-claude

docs: Add Phase 9 M3 reflection and update progress tracking
  memory-bank/progress.md
  memory-bank/reflection/reflection-phase9-m3.md
  memory-bank/tasks.md
Due: none

fix: address CodeRabbit feedback for Phase 9 M3
  memory-bank/tasks.md
  packages/plugin-a16n/src/format.ts
  packages/plugin-a16n/src/parse.ts
  packages/plugin-a16n/src/utils.ts
  packages/plugin-a16n/test/fixtures/parse-errors/invalid-version.md
  packages/plugin-a16n/test/fixtures/parse-errors/malformed-yaml.md
  packages/plugin-a16n/test/fixtures/parse-globalPrompt/empty-content.md
  packages/plugin-a16n/test/fixtures/parse-globalPrompt/with-whitespace.md
  packages/plugin-a16n/test/fixtures/parse-globalPrompt/yaml-like-content.md
  packages/plugin-a16n/test/parse.test.ts
Due: none

feat: Phase 9 Milestone 3 - Frontmatter Parsing & Formatting (#36)
  memory-bank/progress.md
  memory-bank/reflection/reflection-phase9-m3.md
  memory-bank/tasks.md
  packages/plugin-a16n/package.json
  packages/plugin-a16n/src/format.ts
  packages/plugin-a16n/src/index.ts
  packages/plugin-a16n/src/parse.ts
  packages/plugin-a16n/src/utils.ts
  packages/plugin-a16n/test/fixtures/parse-agentIgnore/patterns.md
  packages/plugin-a16n/test/fixtures/parse-errors/invalid-type.md
  packages/plugin-a16n/test/fixtures/parse-errors/invalid-version.md
  packages/plugin-a16n/test/fixtures/parse-errors/malformed-yaml.md
  packages/plugin-a16n/test/fixtures/parse-errors/missing-type.md
  packages/plugin-a16n/test/fixtures/parse-errors/missing-version.md
  packages/plugin-a16n/test/fixtures/parse-errors/no-frontmatter.md
  packages/plugin-a16n/test/fixtures/parse-fileRule/typescript.md
  packages/plugin-a16n/test/fixtures/parse-globalPrompt/basic.md
  packages/plugin-a16n/test/fixtures/parse-globalPrompt/empty-content.md
  packages/plugin-a16n/test/fixtures/parse-globalPrompt/with-relativedir.md
  packages/plugin-a16n/test/fixtures/parse-globalPrompt/with-whitespace.md
  packages/plugin-a16n/test/fixtures/parse-globalPrompt/yaml-like-content.md
  packages/plugin-a16n/test/fixtures/parse-manualPrompt/basic.md
  packages/plugin-a16n/test/fixtures/parse-manualPrompt/with-relativedir.md
  packages/plugin-a16n/test/fixtures/parse-simpleAgentSkill/database.md
  packages/plugin-a16n/test/format.test.ts
  packages/plugin-a16n/test/parse.test.ts
  packages/plugin-claude/src/index.ts
  packages/plugin-cursor/src/index.ts
  pnpm-lock.yaml
Due: plugin-cursor, plugin-claude

feat(plugin-a16n): implement IR emission with CLI integration
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/tasks.md
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/plugin-a16n/src/emit.ts
  packages/plugin-a16n/src/index.ts
  packages/plugin-a16n/test/emit.test.ts
  pnpm-lock.yaml
Due: cli

fix(cli,plugin-a16n): display relative paths and clean filenames
  packages/cli/src/index.ts
  packages/plugin-a16n/src/emit.ts
Due: cli

fix: address CodeRabbit feedback
  memory-bank/tasks.md
  packages/plugin-a16n/src/emit.ts
Due: none

fix: address CodeRabbit feedback
  packages/plugin-a16n/src/emit.ts
  packages/plugin-a16n/test/emit.test.ts
Due: none

fix: address CodeRabbit feedback
  memory-bank/tasks.md
  packages/plugin-a16n/src/emit.ts
  packages/plugin-a16n/test/emit.test.ts
Due: none

chore: update tasks
  memory-bank/tasks.md
Due: none

docs: Phase 9 M4 reflection - comprehensive post-implementation review
  memory-bank/progress.md
  memory-bank/reflection/reflection-phase9-m4.md
  memory-bank/tasks.md
Due: none

fix: major issue w/ skill IR placement
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/reflection/reflection-phase9-m4.md
  memory-bank/systemPatterns.md
  memory-bank/tasks.md
  packages/plugin-a16n/src/emit.ts
  packages/plugin-a16n/test/emit.test.ts
  packages/plugin-claude/src/discover.ts
  packages/plugin-claude/test/discover.test.ts
  packages/plugin-claude/test/fixtures/claude-skills-complex/from-claude/.claude/skills/database-migrations/scripts/migrate.sh
  packages/plugin-cursor/src/discover.ts
  packages/plugin-cursor/test/discover.test.ts
  packages/plugin-cursor/test/fixtures/cursor-skills-complex/from-cursor/.cursor/skills/deploy/scripts/deploy.sh
Due: plugin-cursor, plugin-claude

feat(plugin-a16n): Phase 9 M4 - IR Emission + CLI Integration (#37)
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/reflection/reflection-phase9-m4.md
  memory-bank/systemPatterns.md
  memory-bank/tasks.md
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/plugin-a16n/src/emit.ts
  packages/plugin-a16n/src/index.ts
  packages/plugin-a16n/test/emit.test.ts
  packages/plugin-claude/src/discover.ts
  packages/plugin-claude/test/discover.test.ts
  packages/plugin-claude/test/fixtures/claude-skills-complex/from-claude/.claude/skills/database-migrations/scripts/migrate.sh
  packages/plugin-cursor/src/discover.ts
  packages/plugin-cursor/test/discover.test.ts
  packages/plugin-cursor/test/fixtures/cursor-skills-complex/from-cursor/.cursor/skills/deploy/scripts/deploy.sh
  pnpm-lock.yaml
Due: cli, plugin-cursor, plugin-claude

feat: planned phase 9 milestones 5 and 6
  memory-bank/activeContext.md
  memory-bank/tasks.md
Due: none

fix(docs): add plugin-a16n readme badge & publish coverage
  .github/workflows/ci.yaml
  packages/plugin-a16n/README.md
Due: none

feat(plugin-a16n): Phase 9 M5+M6 - IR Discovery + E2E Integration Tests
  memory-bank/progress.md
  packages/cli/test/integration/fixtures/a16n-basic/from-a16n/.a16n/agent-ignore/cursorignore.md
  packages/cli/test/integration/fixtures/a16n-basic/from-a16n/.a16n/agent-skill-io/deploy-helper/SKILL.md
  packages/cli/test/integration/fixtures/a16n-basic/from-a16n/.a16n/agent-skill-io/deploy-helper/checklist.md
  packages/cli/test/integration/fixtures/a16n-basic/from-a16n/.a16n/file-rule/typescript.md
  packages/cli/test/integration/fixtures/a16n-basic/from-a16n/.a16n/global-prompt/coding-standards.md
  packages/cli/test/integration/fixtures/a16n-basic/from-a16n/.a16n/manual-prompt/review.md
  packages/cli/test/integration/fixtures/a16n-basic/from-a16n/.a16n/simple-agent-skill/database.md
  packages/cli/test/integration/integration.test.ts
  packages/plugin-a16n/src/discover.ts
  packages/plugin-a16n/src/index.ts
  packages/plugin-a16n/test/discover.test.ts
  packages/plugin-a16n/test/fixtures/discover-agentskill-io/.a16n/agent-skill-io/deploy-helper/SKILL.md
  packages/plugin-a16n/test/fixtures/discover-agentskill-io/.a16n/agent-skill-io/deploy-helper/checklist.md
  packages/plugin-a16n/test/fixtures/discover-basic/.a16n/agent-ignore/cursorignore.md
  packages/plugin-a16n/test/fixtures/discover-basic/.a16n/file-rule/typescript.md
  packages/plugin-a16n/test/fixtures/discover-basic/.a16n/global-prompt/coding-standards.md
  packages/plugin-a16n/test/fixtures/discover-basic/.a16n/manual-prompt/review.md
  packages/plugin-a16n/test/fixtures/discover-basic/.a16n/simple-agent-skill/database.md
  packages/plugin-a16n/test/fixtures/discover-empty/.a16n/.gitkeep
  packages/plugin-a16n/test/fixtures/discover-invalid-frontmatter/.a16n/global-prompt/bad-yaml.md
  packages/plugin-a16n/test/fixtures/discover-invalid-frontmatter/.a16n/global-prompt/missing-version.md
  packages/plugin-a16n/test/fixtures/discover-invalid-frontmatter/.a16n/global-prompt/valid.md
  packages/plugin-a16n/test/fixtures/discover-nested/.a16n/global-prompt/shared/company/standards.md
  packages/plugin-a16n/test/fixtures/discover-nested/.a16n/manual-prompt/review.md
  packages/plugin-a16n/test/fixtures/discover-nested/.a16n/manual-prompt/shared/company/pr.md
  packages/plugin-a16n/test/fixtures/discover-unknown-dir/.a16n/global-prompt/test.md
  packages/plugin-a16n/test/fixtures/discover-unknown-dir/.a16n/unknown-type/something.md
  packages/plugin-a16n/test/fixtures/discover-version-mismatch/.a16n/global-prompt/current.md
  packages/plugin-a16n/test/fixtures/discover-version-mismatch/.a16n/global-prompt/future.md
Due: none

feat: reflected
  memory-bank/reflection/reflection-phase9-m5-m6.md
  memory-bank/tasks.md
Due: none

fix: address CodeRabbit feedback on PR #38
  memory-bank/tasks.md
  packages/plugin-a16n/README.md
  packages/plugin-a16n/src/discover.ts
Due: none

fix: address CodeRabbit feedback on PR #38 (round 2)
  memory-bank/tasks.md
  packages/plugin-a16n/src/discover.ts
Due: none

fix: address CodeRabbit feedback on PR #38 (round 3)
  memory-bank/tasks.md
  packages/plugin-a16n/src/discover.ts
Due: none

feat(plugin-a16n): Phase 9 M5+M6 - IR Discovery + E2E Integration Tests (#38)
  .github/workflows/ci.yaml
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/reflection/reflection-phase9-m5-m6.md
  memory-bank/tasks.md
  packages/cli/test/integration/fixtures/a16n-basic/from-a16n/.a16n/agent-ignore/cursorignore.md
  packages/cli/test/integration/fixtures/a16n-basic/from-a16n/.a16n/agent-skill-io/deploy-helper/SKILL.md
  packages/cli/test/integration/fixtures/a16n-basic/from-a16n/.a16n/agent-skill-io/deploy-helper/checklist.md
  packages/cli/test/integration/fixtures/a16n-basic/from-a16n/.a16n/file-rule/typescript.md
  packages/cli/test/integration/fixtures/a16n-basic/from-a16n/.a16n/global-prompt/coding-standards.md
  packages/cli/test/integration/fixtures/a16n-basic/from-a16n/.a16n/manual-prompt/review.md
  packages/cli/test/integration/fixtures/a16n-basic/from-a16n/.a16n/simple-agent-skill/database.md
  packages/cli/test/integration/integration.test.ts
  packages/plugin-a16n/README.md
  packages/plugin-a16n/src/discover.ts
  packages/plugin-a16n/src/index.ts
  packages/plugin-a16n/test/discover.test.ts
  packages/plugin-a16n/test/fixtures/discover-agentskill-io/.a16n/agent-skill-io/deploy-helper/SKILL.md
  packages/plugin-a16n/test/fixtures/discover-agentskill-io/.a16n/agent-skill-io/deploy-helper/checklist.md
  packages/plugin-a16n/test/fixtures/discover-basic/.a16n/agent-ignore/cursorignore.md
  packages/plugin-a16n/test/fixtures/discover-basic/.a16n/file-rule/typescript.md
  packages/plugin-a16n/test/fixtures/discover-basic/.a16n/global-prompt/coding-standards.md
  packages/plugin-a16n/test/fixtures/discover-basic/.a16n/manual-prompt/review.md
  packages/plugin-a16n/test/fixtures/discover-basic/.a16n/simple-agent-skill/database.md
  packages/plugin-a16n/test/fixtures/discover-empty/.a16n/.gitkeep
  packages/plugin-a16n/test/fixtures/discover-invalid-frontmatter/.a16n/global-prompt/bad-yaml.md
  packages/plugin-a16n/test/fixtures/discover-invalid-frontmatter/.a16n/global-prompt/missing-version.md
  packages/plugin-a16n/test/fixtures/discover-invalid-frontmatter/.a16n/global-prompt/valid.md
  packages/plugin-a16n/test/fixtures/discover-nested/.a16n/global-prompt/shared/company/standards.md
  packages/plugin-a16n/test/fixtures/discover-nested/.a16n/manual-prompt/review.md
  packages/plugin-a16n/test/fixtures/discover-nested/.a16n/manual-prompt/shared/company/pr.md
  packages/plugin-a16n/test/fixtures/discover-unknown-dir/.a16n/global-prompt/test.md
  packages/plugin-a16n/test/fixtures/discover-unknown-dir/.a16n/unknown-type/something.md
  packages/plugin-a16n/test/fixtures/discover-version-mismatch/.a16n/global-prompt/current.md
  packages/plugin-a16n/test/fixtures/discover-version-mismatch/.a16n/global-prompt/future.md
Due: none
