Repository Texarkanine/a16n: changes, and which Codecov flags are due for each by the changed paths.
All: cli, engine, models, plugin-cursor, plugin-claude, glob-hook, docs

codecov.yml:

# Codecov configuration for a16n monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        # Disable project-wide coverage status checks
        # Each package has its own flag-based check
        enabled: false
    patch:
      default:
        enabled: false

# Flag definitions for per-package coverage
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  engine:
    paths:
      - packages/engine/src/
    carryforward: true
  models:
    paths:
      - packages/models/src/
    carryforward: true
  plugin-cursor:
    paths:
      - packages/plugin-cursor/src/
    carryforward: true
  plugin-claude:
    paths:
      - packages/plugin-claude/src/
    carryforward: true
  glob-hook:
    paths:
      - packages/glob-hook/src/
    carryforward: true
  docs:
    paths:
      - packages/docs/scripts/
    carryforward: true

# Comment configuration for PRs
comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true

chore(docs): tidy up memory bank a bit
  memory-bank/coderabbit-tasks.md
  memory-bank/tasks.md
Due: none

chore: tidy up memory bank a bit
  memory-bank/tasks.md
Due: none

feat: planned phase 9 milestone 7
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/tasks.md
Due: none

feat: claimed complete
  memory-bank/activeContext.md
  memory-bank/progress.md
  packages/cli/test/integration/integration.test.ts
  packages/docs/README.md
  packages/docs/docs/intro.md
  packages/docs/docs/plugin-a16n/api.mdx
  packages/docs/docs/plugin-a16n/index.md
  packages/docs/docs/plugin-claude/index.md
  packages/docs/docs/plugin-cursor/index.md
  packages/docs/docusaurus.config.js
  packages/docs/package.json
  packages/docs/scripts/generate-versioned-api.ts
  packages/docs/scripts/stage-changelogs.sh
  packages/docs/sidebars.js
  packages/plugin-a16n/README.md
Due: docs

fix: can't use <name> verbatim in doc that gets processed via mdx
  packages/models/src/agentskills-io.ts
Due: models

chore: removed deprecated agentskillio type
  packages/cli/test/integration/integration.test.ts
  packages/docs/docs/plugin-cursor/index.md
  packages/docs/docs/plugin-development/index.md
  packages/models/src/agentskills-io.ts
  packages/models/test/helpers.test.ts
  packages/models/test/types.test.ts
  packages/plugin-claude/README.md
  packages/plugin-claude/test/discover.test.ts
  packages/plugin-claude/test/emit.test.ts
  packages/plugin-cursor/README.md
  packages/plugin-cursor/test/discover.test.ts
  packages/plugin-cursor/test/emit.test.ts
  packages/plugin-cursor/test/fixtures/cursor-empty-globs-with-description/from-cursor/.cursor/rules/agent-requested.mdc
Due: models

fix: tag handling in docusaurus output
  .github/workflows/ci.yaml
  packages/docs/docusaurus.config.js
  packages/docs/package.json
Due: none

docs: add packages/ directory README to prevent docs README display
  packages/README.md
Due: none

feat: manually tweaked then reflected
  memory-bank/reflection/reflection-phase9-m7.md
  memory-bank/tasks.md
  packages/docs/docs/glob-hook/index.md
  packages/docs/docs/plugin-a16n/index.md
  packages/docs/docs/plugin-claude/index.md
  packages/docs/docs/plugin-cursor/index.md
Due: none

fix: Update packages/docs/docs/plugin-a16n/index.md
  packages/docs/docs/plugin-a16n/index.md
Due: none

fix: pr feedback
  packages/plugin-a16n/README.md
Due: none

chore: archive phase-9-ir-serialization and clear memory bank
  memory-bank/activeContext.md
  memory-bank/archive/features/20260207-phase9-ir-serialization.md
  memory-bank/creative/creative-phase9-architecture.md
  memory-bank/progress.md
  memory-bank/reflection/reflection-phase9-m1.md
  memory-bank/reflection/reflection-phase9-m2.md
  memory-bank/reflection/reflection-phase9-m3.md
  memory-bank/reflection/reflection-phase9-m4.md
  memory-bank/reflection/reflection-phase9-m5-m6.md
  memory-bank/reflection/reflection-phase9-m7.md
  memory-bank/tasks.md
Due: none

chore(docs): remove GA4 tracking config
  packages/docs/docusaurus.config.js
Due: none

chore: update phase 9 archive to reflect GA4 removal
  memory-bank/archive/features/20260207-phase9-ir-serialization.md
Due: none

feat: Phase 9 Milestone 7 - Documentation & Polish (#40)
  .github/workflows/ci.yaml
  memory-bank/activeContext.md
  memory-bank/archive/features/20260207-phase9-ir-serialization.md
  memory-bank/creative/creative-phase9-architecture.md
  memory-bank/progress.md
  memory-bank/reflection/reflection-phase9-m1.md
  memory-bank/reflection/reflection-phase9-m2.md
  memory-bank/reflection/reflection-phase9-m3.md
  memory-bank/reflection/reflection-phase9-m4.md
  memory-bank/reflection/reflection-phase9-m5-m6.md
  memory-bank/tasks.md
  packages/README.md
  packages/cli/test/integration/integration.test.ts
  packages/docs/README.md
  packages/docs/docs/glob-hook/index.md
  packages/docs/docs/intro.md
  packages/docs/docs/plugin-a16n/api.mdx
  packages/docs/docs/plugin-a16n/index.md
  packages/docs/docs/plugin-claude/index.md
  packages/docs/docs/plugin-cursor/index.md
  packages/docs/docs/plugin-development/index.md
  packages/docs/docusaurus.config.js
  packages/docs/package.json
  packages/docs/scripts/generate-versioned-api.ts
  packages/docs/scripts/stage-changelogs.sh
  packages/docs/sidebars.js
  packages/models/src/agentskills-io.ts
  packages/models/test/helpers.test.ts
  packages/models/test/types.test.ts
  packages/plugin-a16n/README.md
  packages/plugin-claude/README.md
  packages/plugin-claude/test/discover.test.ts
  packages/plugin-claude/test/emit.test.ts
  packages/plugin-cursor/README.md
  packages/plugin-cursor/test/discover.test.ts
  packages/plugin-cursor/test/emit.test.ts
  packages/plugin-cursor/test/fixtures/cursor-empty-globs-with-description/from-cursor/.cursor/rules/agent-requested.mdc
Due: models, docs

feat: planned
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/tasks.md
Due: none

feat: claimed feature-complete
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/tasks.md
  packages/cli/src/index.ts
  packages/cli/src/output.ts
  packages/cli/test/cli.test.ts
  packages/cli/test/integration/integration.test.ts
  packages/engine/src/index.ts
  packages/engine/src/path-rewriter.ts
  packages/engine/test/engine.test.ts
  packages/engine/test/path-rewriter.test.ts
  packages/models/src/warnings.ts
Due: cli, engine, models

fix: address CodeRabbit feedback
  memory-bank/tasks.md
  packages/engine/src/index.ts
  packages/engine/src/path-rewriter.ts
  packages/engine/test/path-rewriter.test.ts
Due: engine

fix: address CodeRabbit feedback (round 2)
  memory-bank/tasks.md
  packages/cli/src/index.ts
  packages/cli/test/cli.test.ts
  packages/engine/src/path-rewriter.ts
Due: cli, engine

feat: wrote and revised docs
  README.md
  memory-bank/progress.md
  memory-bank/projectbrief.md
  memory-bank/tasks.md
  packages/docs/docs/cli/index.md
  packages/docs/docs/engine/index.md
  packages/docs/docs/faq.md
  packages/docs/docs/models/index.md
  packages/docs/docs/understanding-conversions/index.md
  planning/ROADMAP.md
Due: none

chore: archive split-dirs-path-rewrite and clear memory bank
  memory-bank/activeContext.md
  memory-bank/archive/features/20260208-split-dirs-path-rewrite.md
  memory-bank/progress.md
  memory-bank/tasks.md
Due: none

feat: control over input/output destinations, and path re-writing accordingly (#42)
  README.md
  memory-bank/archive/features/20260208-split-dirs-path-rewrite.md
  memory-bank/projectbrief.md
  memory-bank/tasks.md
  packages/cli/src/index.ts
  packages/cli/src/output.ts
  packages/cli/test/cli.test.ts
  packages/cli/test/integration/integration.test.ts
  packages/docs/docs/cli/index.md
  packages/docs/docs/engine/index.md
  packages/docs/docs/faq.md
  packages/docs/docs/models/index.md
  packages/docs/docs/understanding-conversions/index.md
  packages/engine/src/index.ts
  packages/engine/src/path-rewriter.ts
  packages/engine/test/engine.test.ts
  packages/engine/test/path-rewriter.test.ts
  packages/models/src/warnings.ts
  planning/ROADMAP.md
Due: cli, engine, models

feat: planned
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/tasks.md
  planning/path-rewrite-issue.md
Due: none

chore: claimed feature-complete
  memory-bank/progress.md
  memory-bank/tasks.md
  packages/cli/test/cli.test.ts
  packages/plugin-claude/src/discover.ts
  packages/plugin-claude/src/emit.ts
  packages/plugin-claude/test/discover.test.ts
  packages/plugin-claude/test/emit.test.ts
  packages/plugin-claude/test/fixtures/claude-nested-rules/from-claude/.claude/rules/niko/Core/file-verification.md
  packages/plugin-claude/test/fixtures/claude-nested-rules/from-claude/.claude/rules/niko/Level1/workflow-level1.md
  packages/plugin-claude/test/fixtures/claude-nested-rules/from-claude/.claude/rules/top-level.md
  packages/plugin-cursor/src/discover.ts
  packages/plugin-cursor/src/emit.ts
  packages/plugin-cursor/test/discover.test.ts
  packages/plugin-cursor/test/emit.test.ts
  packages/plugin-cursor/test/fixtures/cursor-nested-deep/from-cursor/.cursor/rules/shared/niko/Core/file-verification.mdc
  packages/plugin-cursor/test/fixtures/cursor-nested-deep/from-cursor/.cursor/rules/shared/niko/Level1/workflow-level1.mdc
  packages/plugin-cursor/test/fixtures/cursor-nested-deep/from-cursor/.cursor/rules/shared/niko/main.mdc
Due: plugin-cursor, plugin-claude

fix: add path traversal validation and relativeDir-aware collision tracking
  memory-bank/tasks.md
  packages/plugin-claude/src/emit.ts
  packages/plugin-cursor/src/emit.ts
Due: plugin-cursor, plugin-claude

fix: path traversal guard now allows relativeDir resolving to rulesDir
  memory-bank/tasks.md
  packages/plugin-claude/src/emit.ts
  packages/plugin-cursor/src/emit.ts
Due: plugin-cursor, plugin-claude

fix: CLI docs were not being automatically generated into docsite
  memory-bank/reflection/reflection-cli-docs.md
  memory-bank/tasks.md
  packages/cli/src/index.ts
  packages/cli/test/create-program.test.ts
  packages/docs/scripts/generate-cli-docs.ts
  packages/docs/test/generate-cli-docs.test.ts
Due: cli, docs

chore: archive relativedir-nesting and clear memory bank
  memory-bank/activeContext.md
  memory-bank/archive/features/20260209-relativedir-nesting.md
  memory-bank/progress.md
  memory-bank/tasks.md
Due: none

fix: nested paths were not preserved during translation (#44)
  memory-bank/activeContext.md
  memory-bank/archive/features/20260209-relativedir-nesting.md
  memory-bank/progress.md
  memory-bank/tasks.md
  packages/cli/test/cli.test.ts
  packages/plugin-claude/src/discover.ts
  packages/plugin-claude/src/emit.ts
  packages/plugin-claude/test/discover.test.ts
  packages/plugin-claude/test/emit.test.ts
  packages/plugin-claude/test/fixtures/claude-nested-rules/from-claude/.claude/rules/niko/Core/file-verification.md
  packages/plugin-claude/test/fixtures/claude-nested-rules/from-claude/.claude/rules/niko/Level1/workflow-level1.md
  packages/plugin-claude/test/fixtures/claude-nested-rules/from-claude/.claude/rules/top-level.md
  packages/plugin-cursor/src/discover.ts
  packages/plugin-cursor/src/emit.ts
  packages/plugin-cursor/test/discover.test.ts
  packages/plugin-cursor/test/emit.test.ts
  packages/plugin-cursor/test/fixtures/cursor-nested-deep/from-cursor/.cursor/rules/shared/niko/Core/file-verification.mdc
  packages/plugin-cursor/test/fixtures/cursor-nested-deep/from-cursor/.cursor/rules/shared/niko/Level1/workflow-level1.mdc
  packages/plugin-cursor/test/fixtures/cursor-nested-deep/from-cursor/.cursor/rules/shared/niko/main.mdc
  planning/path-rewrite-issue.md
Due: plugin-cursor, plugin-claude

chore: reflected
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/reflection/reflection-versioned-doc-stale-files.md
  memory-bank/tasks.md
  packages/docs/scripts/generate-versioned-api.ts
Due: docs

fix: claimed complete
  memory-bank/progress.md
  memory-bank/reflection/reflection-fix-cli-docs-same-content.md
  memory-bank/tasks.md
  packages/docs/scripts/generate-cli-docs.ts
  packages/docs/test/generate-cli-docs.test.ts
Due: docs

fix: it works
  packages/docs/scripts/generate-cli-docs.ts
  packages/docs/test/generate-cli-docs.test.ts
Due: docs

chore: archive cli-docs and clear memory bank
  memory-bank/activeContext.md
  memory-bank/archive/bug-fixes/20260209-cli-docs.md
  memory-bank/progress.md
  memory-bank/reflection/reflection-cli-docs.md
  memory-bank/reflection/reflection-fix-cli-docs-same-content.md
  memory-bank/reflection/reflection-versioned-doc-stale-files.md
  memory-bank/tasks.md
Due: none

fix: CLI docs were not being automatically generated into docsite (#45)
  memory-bank/archive/bug-fixes/20260209-cli-docs.md
  packages/cli/src/index.ts
  packages/cli/test/create-program.test.ts
  packages/docs/scripts/generate-cli-docs.ts
  packages/docs/scripts/generate-versioned-api.ts
  packages/docs/test/generate-cli-docs.test.ts
Due: cli, docs

fix(docs): Fix CLI documentation generation for CI (clean) builds
  memory-bank/reflection/reflection-cli-docs-ci-build.md
  packages/docs/scripts/generate-cli-docs.ts
  packages/docs/test/generate-cli-docs.test.ts
Due: docs

fix(docs): Fix CLI documentation generation for CI (clean) builds (#48)
  memory-bank/reflection/reflection-cli-docs-ci-build.md
  packages/docs/scripts/generate-cli-docs.ts
  packages/docs/test/generate-cli-docs.test.ts
Due: docs

chore: archive cli-docs-ci-build and clear memory bank
  memory-bank/archive/bug-fixes/20260209-cli-docs-ci-build.md
  memory-bank/reflection/reflection-cli-docs-ci-build.md
Due: none

feat: support plugins for real-real
  memory-bank/activeContext.md
  memory-bank/creative/creative-plugin-discovery.md
  memory-bank/progress.md
  memory-bank/reflection/reflection-plugin-discovery.md
  memory-bank/tasks.md
  packages/cli/src/index.ts
  packages/engine/src/index.ts
  packages/engine/src/plugin-discovery.ts
  packages/engine/test/engine.test.ts
  packages/engine/test/plugin-discovery.test.ts
Due: cli, engine

feat: plugin functionality is ostensibly complete
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/reflection/reflection-plugin-discovery.md
  memory-bank/tasks.md
  packages/engine/src/plugin-discovery.ts
  packages/engine/test/plugin-discovery.test.ts
Due: engine

feat(docs): Add note on FileRule vs GlobalPrompt in subdir
  packages/cli/src/index.ts
  packages/docs/docs/plugin-development/index.md
  packages/docs/docs/understanding-conversions/index.md
  packages/engine/src/index.ts
Due: cli, engine
