Repository Texarkanine/a16n: changes, and which Codecov flags are due for each by the changed paths.
All: cli, engine, models, plugin-cursor, plugin-claude, glob-hook, docs

chore: plan total refactor
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/tasks.md
  packages/cli/src/index.ts
  packages/engine/src/index.ts
Due: cli, engine

feat: planned refactor
  memory-bank/activeContext.md
  memory-bank/creative/creative-architectural-redesign.md
  memory-bank/tasks.md
Due: none

feat(engine): replace dual Maps with unified PluginRegistry
  memory-bank/.qa_validation_status
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/reflection/reflection-arch-phase1.md
  memory-bank/tasks.md
  packages/engine/src/index.ts
  packages/engine/src/plugin-registry.ts
  packages/engine/test/plugin-registry.test.ts
Due: engine

feat(engine): add PluginLoader with conflict resolution strategies
  memory-bank/tasks.md
  packages/engine/src/index.ts
  packages/engine/src/plugin-loader.ts
  packages/engine/test/plugin-loader.test.ts
Due: engine

feat(engine): add Workspace abstraction with three implementations
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/tasks.md
  packages/engine/src/workspace.ts
  packages/engine/test/workspace.test.ts
Due: engine

feat(engine): add composable transformation pipeline
  packages/engine/src/index.ts
  packages/engine/src/transformation.ts
  packages/engine/test/transformation.test.ts
  packages/models/src/index.ts
  packages/models/src/plugin.ts
  packages/plugin-claude/src/index.ts
  packages/plugin-cursor/src/index.ts
Due: engine, models, plugin-cursor, plugin-claude

feat(cli): restructure CLI into separate command handlers
  packages/cli/src/commands/convert.ts
  packages/cli/src/commands/discover.ts
  packages/cli/src/commands/io.ts
  packages/cli/src/commands/plugins.ts
  packages/cli/src/index.ts
  packages/cli/test/commands/convert.test.ts
  packages/cli/test/commands/discover.test.ts
  packages/cli/test/commands/plugins.test.ts
Due: cli

docs: update memory bank for completed architectural redesign
  memory-bank/progress.md
  memory-bank/tasks.md
Due: none

feat: mostly complete again; saving reflected work
  memory-bank/progress.md
  memory-bank/tasks.md
  packages/engine/src/index.ts
  packages/engine/src/workspace.ts
  packages/engine/test/engine.test.ts
  packages/models/src/index.ts
  packages/models/src/plugin.ts
  packages/plugin-a16n/src/discover.ts
  packages/plugin-a16n/src/emit.ts
  packages/plugin-claude/src/discover.ts
  packages/plugin-claude/src/emit.ts
  packages/plugin-cursor/src/discover.ts
  packages/plugin-cursor/src/emit.ts
Due: engine, models, plugin-cursor, plugin-claude

feat: mostly complete again; saving reflected work
  memory-bank/reflection/reflection-architectural-redesign.md
  packages/models/src/workspace.ts
  packages/models/test/workspace.test.ts
Due: models

chore: qa'd and planned
  memory-bank/tasks.md
Due: none

feat: documented
  memory-bank/.qa_validation_status
  memory-bank/progress.md
  memory-bank/reflection/reflection-workspace-migration.md
  memory-bank/tasks.md
  packages/cli/src/commands/convert.ts
  packages/cli/src/commands/discover.ts
  packages/cli/src/commands/io.ts
  packages/cli/src/index.ts
  packages/cli/src/output.ts
  packages/docs/docs/plugin-development/index.md
  packages/docs/docs/understanding-conversions/index.md
  packages/models/test/workspace.test.ts
  packages/plugin-a16n/test/parse.test.ts
Due: cli

feat: tests pass
  memory-bank/activeContext.md
  memory-bank/reflection/reflection-pr-bugfixes.md
  memory-bank/tasks.md
  packages/cli/src/commands/convert.ts
  packages/cli/src/commands/discover.ts
  packages/cli/src/commands/io.ts
  packages/cli/src/index.ts
  packages/cli/src/output.ts
  packages/engine/src/workspace.ts
  packages/models/src/index.ts
  packages/models/src/workspace.ts
  packages/plugin-a16n/src/discover.ts
  packages/plugin-a16n/src/parse.ts
Due: cli, engine, models

fix: address CodeRabbit feedback
  memory-bank/tasks.md
  packages/cli/src/commands/discover.ts
  packages/cli/src/index.ts
  packages/cli/test/commands/convert.test.ts
  packages/cli/test/commands/discover.test.ts
  packages/docs/docs/understanding-conversions/index.md
  packages/engine/src/plugin-discovery.ts
  packages/models/src/plugin.ts
  packages/plugin-a16n/src/discover.ts
  packages/plugin-a16n/src/emit.ts
  packages/plugin-claude/src/emit.ts
Due: cli, engine, models, plugin-claude

fix: include filename in sourcePath for unique ID generation
  memory-bank/tasks.md
  packages/plugin-a16n/src/discover.ts
  packages/plugin-a16n/test/discover.test.ts
Due: none

fix: CLI viability when installed w/ npm link
  memory-bank/tasks.md
  packages/cli/bin/a16n
  packages/cli/src/index.ts
  packages/cli/test/cli.test.ts
Due: cli

fix: a16n --version works
  packages/cli/src/index.ts
  packages/cli/test/create-program.test.ts
Due: cli

fix: comments
  packages/cli/src/index.ts
Due: cli

fix: null issue chore: use Commander's built-in options for choice flags
  packages/cli/src/index.ts
  packages/cli/test/create-program.test.ts
Due: cli

fix: remove dead code
  packages/cli/src/commands/convert.ts
  packages/cli/test/commands/convert.test.ts
Due: cli

fix: address CodeRabbit feedback on error handling and cleanup
  packages/cli/src/commands/convert.ts
  packages/cli/src/index.ts
  packages/cli/test/create-program.test.ts
Due: cli

chore: archive pr-bugfixes and clear memory bank
  memory-bank/.qa_validation_status
  memory-bank/activeContext.md
  memory-bank/archive/bug-fixes/20260216-pr-bugfixes.md
  memory-bank/creative/creative-architectural-redesign.md
  memory-bank/creative/creative-plugin-discovery.md
  memory-bank/progress.md
  memory-bank/reflection/reflection-arch-phase1.md
  memory-bank/reflection/reflection-architectural-redesign.md
  memory-bank/reflection/reflection-plugin-discovery.md
  memory-bank/reflection/reflection-pr-bugfixes.md
  memory-bank/reflection/reflection-workspace-migration.md
  memory-bank/tasks.md
Due: none

chore: archive plugin-discovery, architectural-redesign, and workspace-migration
  memory-bank/archive/bug-fixes/20260216-pr-bugfixes.md
  memory-bank/archive/features/20260215-plugin-discovery.md
  memory-bank/archive/features/20260215-workspace-migration.md
  memory-bank/archive/systems/20260215-architectural-redesign.md
Due: none

fix: some stuff
  memory-bank/tasks.md
  packages/cli/src/commands/convert.ts
  packages/cli/test/commands/convert.test.ts
Due: cli

chore: reflected
  memory-bank/reflection/reflection-coderabbit-nitpicks.md
  memory-bank/tasks.md
Due: none

fix: feedback
  packages/cli/src/commands/convert.ts
  packages/cli/test/commands/convert.test.ts
Due: cli

fix: more fix
  packages/cli/src/commands/convert.ts
  packages/cli/src/output.ts
  packages/models/src/warnings.ts
Due: cli, models

fix: niptick feadback (#61)
  memory-bank/reflection/reflection-coderabbit-nitpicks.md
  memory-bank/tasks.md
  packages/cli/src/commands/convert.ts
  packages/cli/src/output.ts
  packages/cli/test/commands/convert.test.ts
  packages/models/src/warnings.ts
Due: cli, models

chore: archive coderabbit-nitpicks and clear memory bank
  memory-bank/archive/enhancements/20260216-coderabbit-nitpicks.md
  memory-bank/reflection/reflection-coderabbit-nitpicks.md
  memory-bank/tasks.md
Due: none

fix: pr feedback I think
  packages/cli/src/index.ts
  packages/cli/test/cli.test.ts
Due: cli

fix: when npm link'd, can also discover plugins
  memory-bank/activeContext.md
  memory-bank/reflection/reflection-plugin-discovery-wiring.md
  memory-bank/tasks.md
  packages/engine/src/plugin-discovery.ts
  packages/engine/test/plugin-discovery.test.ts
Due: engine

fix: trailing PR feedback from discovery fixes (#62)
  memory-bank/activeContext.md
  memory-bank/reflection/reflection-plugin-discovery-wiring.md
  memory-bank/tasks.md
  packages/cli/src/index.ts
  packages/cli/test/cli.test.ts
  packages/engine/src/plugin-discovery.ts
  packages/engine/test/plugin-discovery.test.ts
Due: cli, engine

feat: impl claimed complete
  memory-bank/tasks.md
  packages/cli/test/integration/fixtures/cursor-skill-names-to-claude/from-cursor/.cursor/skills/banana/SKILL.md
  packages/cli/test/integration/fixtures/cursor-skill-names-to-claude/from-cursor/.cursor/skills/veggies/tomato/SKILL.md
  packages/cli/test/integration/fixtures/cursor-skill-names-to-claude/to-claude/.claude/skills/banana/SKILL.md
  packages/cli/test/integration/fixtures/cursor-skill-names-to-claude/to-claude/.claude/skills/tomato/SKILL.md
  packages/cli/test/integration/integration.test.ts
  packages/models/src/types.ts
  packages/models/src/version.ts
  packages/models/test/version.test.ts
  packages/plugin-a16n/src/emit.ts
  packages/plugin-a16n/src/format.ts
  packages/plugin-a16n/src/parse.ts
  packages/plugin-a16n/test/discover.test.ts
  packages/plugin-a16n/test/emit.test.ts
  packages/plugin-a16n/test/fixtures/parse-simpleAgentSkill/banana.md
  packages/plugin-a16n/test/format.test.ts
  packages/plugin-a16n/test/parse.test.ts
  packages/plugin-claude/src/discover.ts
  packages/plugin-claude/src/emit.ts
  packages/plugin-claude/test/emit.test.ts
  packages/plugin-cursor/src/discover.ts
  packages/plugin-cursor/src/emit.ts
  packages/plugin-cursor/test/discover.test.ts
  packages/plugin-cursor/test/emit.test.ts
  packages/plugin-cursor/test/fixtures/cursor-skills-nested/from-cursor/.cursor/skills/banana/SKILL.md
  packages/plugin-cursor/test/fixtures/cursor-skills-nested/from-cursor/.cursor/skills/veggies/tomato/SKILL.md
Due: models, plugin-cursor, plugin-claude

chore: reflected
  memory-bank/reflection/reflection-skill-invocation-name-preservation.md
  memory-bank/tasks.md
Due: none

fix: address CodeRabbit feedback on skill-naming PR
  memory-bank/tasks.md
  packages/cli/test/integration/integration.test.ts
  packages/plugin-a16n/src/format.ts
  packages/plugin-a16n/src/parse.ts
  packages/plugin-a16n/test/emit.test.ts
  packages/plugin-a16n/test/fixtures/parse-simpleAgentSkill/banana.md
  packages/plugin-a16n/test/format.test.ts
  packages/plugin-a16n/test/parse.test.ts
  packages/plugin-claude/src/discover.ts
  packages/plugin-claude/src/emit.ts
  packages/plugin-claude/test/emit.test.ts
  packages/plugin-cursor/src/discover.ts
  packages/plugin-cursor/src/emit.ts
  packages/plugin-cursor/test/emit.test.ts
Due: plugin-cursor, plugin-claude

fix: align cursor skip warning message with claude plugin wording
  packages/plugin-cursor/src/discover.ts
Due: plugin-cursor

fix: trim whitespace-only frontmatter.name in cursor discover displayName
  packages/plugin-cursor/src/discover.ts
Due: plugin-cursor

chore: archive skill-invocation-name-preservation and clear memory bank
  memory-bank/activeContext.md
  memory-bank/archive/features/20260219-skill-invocation-name-preservation.md
  memory-bank/reflection/reflection-skill-invocation-name-preservation.md
  memory-bank/systemPatterns.md
  memory-bank/tasks.md
Due: none

fix: SimpleAgentSkill and AgentSkillIO invocable names were lost in translation (#64)
  memory-bank/activeContext.md
  memory-bank/archive/features/20260219-skill-invocation-name-preservation.md
  memory-bank/systemPatterns.md
  memory-bank/tasks.md
  packages/cli/test/integration/fixtures/cursor-skill-names-to-claude/from-cursor/.cursor/skills/banana/SKILL.md
  packages/cli/test/integration/fixtures/cursor-skill-names-to-claude/from-cursor/.cursor/skills/veggies/tomato/SKILL.md
  packages/cli/test/integration/fixtures/cursor-skill-names-to-claude/to-claude/.claude/skills/banana/SKILL.md
  packages/cli/test/integration/fixtures/cursor-skill-names-to-claude/to-claude/.claude/skills/tomato/SKILL.md
  packages/cli/test/integration/integration.test.ts
  packages/models/src/types.ts
  packages/models/src/version.ts
  packages/models/test/version.test.ts
  packages/plugin-a16n/src/emit.ts
  packages/plugin-a16n/src/format.ts
  packages/plugin-a16n/src/parse.ts
  packages/plugin-a16n/test/discover.test.ts
  packages/plugin-a16n/test/emit.test.ts
  packages/plugin-a16n/test/fixtures/parse-simpleAgentSkill/banana.md
  packages/plugin-a16n/test/format.test.ts
  packages/plugin-a16n/test/parse.test.ts
  packages/plugin-claude/src/discover.ts
  packages/plugin-claude/src/emit.ts
  packages/plugin-claude/test/emit.test.ts
  packages/plugin-cursor/src/discover.ts
  packages/plugin-cursor/src/emit.ts
  packages/plugin-cursor/test/discover.test.ts
  packages/plugin-cursor/test/emit.test.ts
  packages/plugin-cursor/test/fixtures/cursor-skills-nested/from-cursor/.cursor/skills/banana/SKILL.md
  packages/plugin-cursor/test/fixtures/cursor-skills-nested/from-cursor/.cursor/skills/veggies/tomato/SKILL.md
Due: models, plugin-cursor, plugin-claude

Path conditions:
  cli: any of: packages/cli/src/
  engine: any of: packages/engine/src/
  models: any of: packages/models/src/
  plugin-cursor: any of: packages/plugin-cursor/src/
  plugin-claude: any of: packages/plugin-claude/src/
  glob-hook: any of: packages/glob-hook/src/
  docs: any of: packages/docs/scripts/
