Repository Texarkanine/a16n: changes, and which Codecov flags are due for each by the changed paths.
All: cli, engine, models, plugin-cursor, plugin-claude, glob-hook, docs

codecov.yml:

# Codecov configuration for a16n monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        # Disable project-wide coverage status checks
        # Each package has its own flag-based check
        enabled: false
    patch:
      default:
        enabled: false

# Flag definitions for per-package coverage
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  engine:
    paths:
      - packages/engine/src/
    carryforward: true
  models:
    paths:
      - packages/models/src/
    carryforward: true
  plugin-cursor:
    paths:
      - packages/plugin-cursor/src/
    carryforward: true
  plugin-claude:
    paths:
      - packages/plugin-claude/src/
    carryforward: true
  glob-hook:
    paths:
      - packages/glob-hook/src/
    carryforward: true
  docs:
    paths:
      - packages/docs/scripts/
    carryforward: true

# Comment configuration for PRs
comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true

chore: saving work before archive phase
  memory-bank/active/progress.md
Due: none

chore: archive docs-llms-and-api-retention and clear memory bank
  memory-bank/active/.preflight-status
  memory-bank/active/.qa-validation-status
  memory-bank/active/activeContext.md
  memory-bank/active/creative/creative-llms-dev-server-availability.md
  memory-bank/active/creative/creative-per-api-version-llms.md
  memory-bank/active/creative/creative-root-llms-asymmetry.md
  memory-bank/active/progress.md
  memory-bank/active/projectbrief.md
  memory-bank/active/reflection/reflection-docs-llms-and-api-retention.md
  memory-bank/active/tasks.md
  memory-bank/archive/features/20260719-docs-llms-and-api-retention.md
Due: none

feat(docs): llms.txt indexes, API retention, and local LLM serving (#139)
  .github/workflows/ci.yaml
  .github/workflows/docs.yaml
  .gitignore
  memory-bank/archive/features/20260719-docs-llms-and-api-retention.md
  memory-bank/techContext.md
  packages/docs/README.md
  packages/docs/docusaurus.config.ts
  packages/docs/package.json
  packages/docs/scripts/clear-static-generated.ts
  packages/docs/scripts/generate-llms-static.ts
  packages/docs/scripts/generate-versioned-api.ts
  packages/docs/scripts/llms-plugin-options.ts
  packages/docs/scripts/llms-static.ts
  packages/docs/test/generate-versioned-api.test.ts
  packages/docs/test/llms-plugin-options.test.ts
  packages/docs/test/llms-static.test.ts
  packages/docs/typedoc.versioned.json
  pnpm-lock.yaml
Due: docs

chore: saving work before plan phase
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/projectbrief.md
  memory-bank/active/tasks.md
Due: none

chore: completed autonomous creative exploration
  memory-bank/active/activeContext.md
  memory-bank/active/creative/creative-body-feature-detection.md
  memory-bank/active/creative/creative-hooks-disposition.md
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
Due: none

chore: saving work before build phase
  memory-bank/active/.preflight-status
  memory-bank/active/activeContext.md
  memory-bank/active/creative/creative-body-feature-detection.md
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
Due: none

chore: correct preflight Finding C, open OQ4
  memory-bank/active/.preflight-status
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
Due: none

chore: resolve OQ4, preflight PASS
  memory-bank/active/.preflight-status
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
Due: none

fix(plugin-cursor): discover all commands, warn on frontmatter passthrough
  memory-bank/active/tasks.md
  packages/cli/test/integration/integration-commands.test.ts
  packages/plugin-cursor/src/discover.ts
  packages/plugin-cursor/src/mdc.ts
  packages/plugin-cursor/test/discover-commands.test.ts
  packages/plugin-cursor/test/fixtures/cursor-command-mentions/from-cursor/.cursor/commands/coderabbit-pr.md
  packages/plugin-cursor/test/fixtures/cursor-command-mentions/from-cursor/.cursor/commands/pr-feedback-judge.md
  packages/plugin-cursor/test/fixtures/cursor-command-runtime-features/from-cursor/.cursor/commands/analyze.md
  packages/plugin-cursor/test/fixtures/cursor-command-runtime-features/from-cursor/.cursor/commands/deploy.md
  packages/plugin-cursor/test/fixtures/cursor-command-runtime-features/from-cursor/.cursor/commands/fix-issue.md
  packages/plugin-cursor/test/fixtures/cursor-command-runtime-features/from-cursor/.cursor/commands/pr-review.md
  packages/plugin-cursor/test/fixtures/cursor-command-runtime-features/from-cursor/.cursor/commands/pr.md
  packages/plugin-cursor/test/fixtures/cursor-command-runtime-features/from-cursor/.cursor/commands/secure.md
  packages/plugin-cursor/test/mdc.test.ts
Due: plugin-cursor

feat(plugin-claude): warn when a skill uses non-spec features
  memory-bank/active/tasks.md
  packages/plugin-claude/src/discover.ts
  packages/plugin-claude/src/spec-compliance.ts
  packages/plugin-claude/test/discover-spec-compliance.test.ts
  packages/plugin-claude/test/fixtures/claude-skills-nonspec/from-claude/.claude/skills/clean/SKILL.md
  packages/plugin-claude/test/fixtures/claude-skills-nonspec/from-claude/.claude/skills/deploy/SKILL.md
  packages/plugin-claude/test/fixtures/claude-skills-nonspec/from-claude/.claude/skills/nameless/SKILL.md
  packages/plugin-claude/test/spec-compliance.test.ts
Due: plugin-claude

docs: document the two ingest advisories and their disposition rule
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
  memory-bank/systemPatterns.md
  packages/docs/docs/plugin-claude/index.md
  packages/docs/docs/plugin-cursor/index.md
  packages/docs/docs/understanding-conversions/index.md
  packages/plugin-claude/README.md
  packages/plugin-cursor/README.md
Due: none

chore: saving work before reflect phase
  memory-bank/active/.qa-validation-status
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
  memory-bank/systemPatterns.md
  packages/docs/docs/plugin-claude/index.md
  packages/docs/docs/understanding-conversions/index.md
  packages/plugin-claude/README.md
  packages/plugin-claude/src/spec-compliance.ts
  packages/plugin-claude/test/spec-compliance.test.ts
Due: plugin-claude

chore: reflected on issue-142-spec-compliance-gates
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/reflection/reflection-issue-142-spec-compliance-gates.md
Due: none

chore: address PR #145 review feedback
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/projectbrief.md
  memory-bank/active/reflection/reflection-issue-142-spec-compliance-gates.md
  memory-bank/active/tasks.md
  memory-bank/techContext.md
  packages/plugin-cursor/src/mdc.ts
  packages/plugin-cursor/test/mdc.test.ts
Due: plugin-cursor

chore: saved work on issue-142-spec-compliance-gates at REFLECT - COMPLETE (PR #145 review addressed; awaiting archive)
  memory-bank/active/activeContext.md
  memory-bank/active/tasks.md
Due: none

chore: saving work before archive phase
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
Due: none

chore: archive issue-142-spec-compliance-gates and clear memory bank
  memory-bank/active/.preflight-status
  memory-bank/active/.qa-validation-status
  memory-bank/active/activeContext.md
  memory-bank/active/creative/creative-body-feature-detection.md
  memory-bank/active/creative/creative-hooks-disposition.md
  memory-bank/active/progress.md
  memory-bank/active/projectbrief.md
  memory-bank/active/reflection/reflection-issue-142-spec-compliance-gates.md
  memory-bank/active/tasks.md
  memory-bank/archive/enhancements/20260725-issue-142-spec-compliance-gates.md
Due: none

fix: realign conversion gates with the AgentSkills.io spec (#145)
  memory-bank/archive/enhancements/20260725-issue-142-spec-compliance-gates.md
  memory-bank/systemPatterns.md
  memory-bank/techContext.md
  packages/cli/test/integration/integration-commands.test.ts
  packages/docs/docs/plugin-claude/index.md
  packages/docs/docs/plugin-cursor/index.md
  packages/docs/docs/understanding-conversions/index.md
  packages/plugin-claude/README.md
  packages/plugin-claude/src/discover.ts
  packages/plugin-claude/src/spec-compliance.ts
  packages/plugin-claude/test/discover-spec-compliance.test.ts
  packages/plugin-claude/test/fixtures/claude-skills-nonspec/from-claude/.claude/skills/clean/SKILL.md
  packages/plugin-claude/test/fixtures/claude-skills-nonspec/from-claude/.claude/skills/deploy/SKILL.md
  packages/plugin-claude/test/fixtures/claude-skills-nonspec/from-claude/.claude/skills/nameless/SKILL.md
  packages/plugin-claude/test/spec-compliance.test.ts
  packages/plugin-cursor/README.md
  packages/plugin-cursor/src/discover.ts
  packages/plugin-cursor/src/mdc.ts
  packages/plugin-cursor/test/discover-commands.test.ts
  packages/plugin-cursor/test/fixtures/cursor-command-mentions/from-cursor/.cursor/commands/coderabbit-pr.md
  packages/plugin-cursor/test/fixtures/cursor-command-mentions/from-cursor/.cursor/commands/pr-feedback-judge.md
  packages/plugin-cursor/test/fixtures/cursor-command-runtime-features/from-cursor/.cursor/commands/analyze.md
  packages/plugin-cursor/test/fixtures/cursor-command-runtime-features/from-cursor/.cursor/commands/deploy.md
  packages/plugin-cursor/test/fixtures/cursor-command-runtime-features/from-cursor/.cursor/commands/fix-issue.md
  packages/plugin-cursor/test/fixtures/cursor-command-runtime-features/from-cursor/.cursor/commands/pr-review.md
  packages/plugin-cursor/test/fixtures/cursor-command-runtime-features/from-cursor/.cursor/commands/pr.md
  packages/plugin-cursor/test/fixtures/cursor-command-runtime-features/from-cursor/.cursor/commands/secure.md
  packages/plugin-cursor/test/mdc.test.ts
Due: plugin-cursor, plugin-claude

chore: saving work before preflight phase
  memory-bank/active/activeContext.md
  memory-bank/active/creative/creative-emit-disposition.md
  memory-bank/active/creative/creative-ir-field-placement.md
  memory-bank/active/creative/creative-metadata-collision.md
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
Due: none

chore: saving work before build phase
  memory-bank/active/.preflight-status
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
Due: none

feat(models): model AgentSkills.io spec fields in the skill IR
  memory-bank/active/tasks.md
  packages/docs/docs/plugin-a16n/index.md
  packages/models/src/agentskills-io.ts
  packages/models/src/index.ts
  packages/models/src/types.ts
  packages/models/src/version.ts
  packages/models/test/agentskills-io.test.ts
  packages/models/test/types.test.ts
  packages/models/test/version.test.ts
  packages/plugin-a16n/README.md
  packages/plugin-a16n/test/discover.test.ts
  packages/plugin-a16n/test/emit.test.ts
  packages/plugin-a16n/test/format.test.ts
Due: models

feat(plugin-claude): discover and emit AgentSkills.io spec fields
  memory-bank/active/tasks.md
  packages/models/src/agentskills-io.ts
  packages/models/src/index.ts
  packages/models/tsconfig.probe.json
  packages/plugin-claude/src/discover.ts
  packages/plugin-claude/src/emit.ts
  packages/plugin-claude/test/discover-agent-skill-io.test.ts
  packages/plugin-claude/test/discover-manual-prompt.test.ts
  packages/plugin-claude/test/discover-simple-agent-skill.test.ts
  packages/plugin-claude/test/emit-agent-skill-io.test.ts
  packages/plugin-claude/test/emit-manual-prompt.test.ts
  packages/plugin-claude/test/emit-simple-agent-skill.test.ts
  packages/plugin-claude/test/fixtures/claude-skills-spec-fields/from-claude/.claude/skills/io-spec/SKILL.md
  packages/plugin-claude/test/fixtures/claude-skills-spec-fields/from-claude/.claude/skills/io-spec/checklist.md
  packages/plugin-claude/test/fixtures/claude-skills-spec-fields/from-claude/.claude/skills/manual-spec/SKILL.md
  packages/plugin-claude/test/fixtures/claude-skills-spec-fields/from-claude/.claude/skills/no-spec/SKILL.md
  packages/plugin-claude/test/fixtures/claude-skills-spec-fields/from-claude/.claude/skills/simple-spec/SKILL.md
Due: models, plugin-claude

refactor(plugin-cursor): parse SKILL.md frontmatter with gray-matter
  memory-bank/active/tasks.md
  packages/plugin-cursor/package.json
  packages/plugin-cursor/src/discover.ts
  packages/plugin-cursor/test/discover-agent-skill-io.test.ts
  packages/plugin-cursor/test/discover-skills.test.ts
  packages/plugin-cursor/test/fixtures/cursor-skills-spec-fields/from-cursor/.cursor/skills/io-spec/SKILL.md
  packages/plugin-cursor/test/fixtures/cursor-skills-spec-fields/from-cursor/.cursor/skills/io-spec/checklist.md
  packages/plugin-cursor/test/fixtures/cursor-skills-spec-fields/from-cursor/.cursor/skills/manual-spec/SKILL.md
  packages/plugin-cursor/test/fixtures/cursor-skills-spec-fields/from-cursor/.cursor/skills/no-spec/SKILL.md
  packages/plugin-cursor/test/fixtures/cursor-skills-spec-fields/from-cursor/.cursor/skills/simple-spec/SKILL.md
  pnpm-lock.yaml
Due: plugin-cursor

refactor(models): pair the spec-field frontmatter writer with its reader
  packages/models/src/agentskills-io.ts
  packages/models/src/index.ts
  packages/models/test/agentskills-io.test.ts
  packages/models/tsconfig.probe.json
  packages/plugin-claude/src/emit.ts
Due: models, plugin-claude

feat(plugin-cursor): carry AgentSkills.io spec fields through emit
  packages/plugin-cursor/src/emit.ts
  packages/plugin-cursor/src/skill-field-support.ts
  packages/plugin-cursor/test/emit-agent-skill-io.test.ts
  packages/plugin-cursor/test/emit-skills.test.ts
  packages/plugin-cursor/test/skill-field-support.test.ts
Due: plugin-cursor

feat(plugin-a16n): round-trip AgentSkills.io spec fields through the IR
  packages/plugin-a16n/src/format.ts
  packages/plugin-a16n/src/parse.ts
  packages/plugin-a16n/test/format.test.ts
Due: none

test(cli): assert no spec field is ever lost silently
  packages/cli/test/e2e/cli-delete-source.test.ts
  packages/cli/test/integration/fixtures/claude-spec-fields-to-cursor/from-claude/.claude/skills/cleanup/SKILL.md
  packages/cli/test/integration/fixtures/claude-spec-fields-to-cursor/to-cursor/.cursor/skills/cleanup/SKILL.md
  packages/cli/test/integration/integration-filerule-skill.test.ts
  packages/cli/test/integration/integration-skill-field-fidelity.test.ts
Due: none

docs: document AgentSkills.io spec-field handling
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
  memory-bank/systemPatterns.md
  packages/docs/docs/models/index.md
  packages/docs/docs/understanding-conversions/index.md
  packages/plugin-claude/README.md
  packages/plugin-cursor/README.md
Due: none

chore: saving work before reflect phase
  memory-bank/active/.qa-validation-status
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
  packages/models/src/agentskills-io.ts
  packages/models/src/index.ts
  packages/plugin-a16n/src/format.ts
Due: models

chore: reflected on issue-143-spec-field-fidelity
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/reflection/reflection-issue-143-spec-field-fidelity.md
  memory-bank/techContext.md
Due: none

chore: archive issue-143-spec-field-fidelity and clear memory bank
  memory-bank/active/.preflight-status
  memory-bank/active/.qa-validation-status
  memory-bank/active/activeContext.md
  memory-bank/active/creative/creative-emit-disposition.md
  memory-bank/active/creative/creative-ir-field-placement.md
  memory-bank/active/creative/creative-metadata-collision.md
  memory-bank/active/progress.md
  memory-bank/active/projectbrief.md
  memory-bank/active/reflection/reflection-issue-143-spec-field-fidelity.md
  memory-bank/active/tasks.md
  memory-bank/archive/enhancements/20260726-issue-143-spec-field-fidelity.md
Due: none

chore: saving work before preflight phase
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
Due: none

chore: saving work before build phase
  memory-bank/active/.preflight-status
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
Due: none

chore: saving work before qa phase
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
  memory-bank/systemPatterns.md
  packages/cli/test/integration/fixtures/cursor-skill-paths-refuse-to-claude/from-cursor/.cursor/skills/scoped/SKILL.md
  packages/cli/test/integration/integration-filerule-skill.test.ts
  packages/plugin-cursor/README.md
  packages/plugin-cursor/src/discover.ts
  packages/plugin-cursor/test/discover-skills.test.ts
Due: plugin-cursor

chore: saving work before reflect phase
  memory-bank/active/.qa-validation-status
  memory-bank/active/activeContext.md
  memory-bank/active/progress.md
  memory-bank/active/tasks.md
  packages/plugin-cursor/src/discover.ts
Due: plugin-cursor
